{
    "rules": {
        "no-console": "off",
        "react/prop-types": "off",
        "react/display-name": "off",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-mixed-spaces-and-tabs": "error",
        "no-regex-spaces": "error",
        "no-multi-spaces": "error",
        "no-empty-pattern": "off",
        "array-bracket-spacing": ["error", "never"],
        "object-curly-spacing": ["error", "always"],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "semi-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "computed-property-spacing": ["error", "never"],
        "keyword-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "no-spaced-func": "error",
        "space-before-blocks": ["error", "always"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": [
            "error",
            {
                "int32Hint": false
            }
        ],
        "space-unary-ops": "error",
        "spaced-comment": ["error", "always"],
        "arrow-spacing": "error",
        "generator-star-spacing": [
            "error",
            {
                "before": false,
                "after": false
            }
        ],
        "yield-star-spacing": [
            "error",
            {
                "before": true,
                "after": false
            }
        ],
        "no-irregular-whitespace": "error",
        "template-curly-spacing": ["error", "never"]
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
